@model IEnumerable<KaraageCounter.Models.Karaage>
@{
    ViewBag.Title = "Index";
}
<div class="text-right">
    @using (Html.BeginForm("Create", "Karaages", FormMethod.Get))
    {
        <p>
            あなたが食べた唐揚げの数
        </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登録" class="btn btn-success btn-lg" />
            </div>
        </div>
    }
</div>
<div class="text-center">
    <p>みんなが食べた唐揚げの数</p>
    <span style="font-size: 256px;">@ViewBag.Count</span>個
</div>
