@model IEnumerable<KaraageCounter.Models.Karaage>
@{
    ViewBag.Title = "Index";
}
<br>

<div class="row">
    <div class="col-lg-2" style="background-color:#b4f2b1">
    </div>
        <div class="col-lg-2">
            <div class=" text-center">
                <p>今日のからあげ総数</p>
                <span class="h2">@ViewBag.TodayCount 個</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class=" text-center">
                <p>みんなが食べた唐揚げの数</p>
                <p>
                    <img src="Content/bird16.jpg" height="100">
                </p>
                    <span class="h1">@ViewBag.Count 個</span>
                    @using (Html.BeginForm("Create", "Karaages", FormMethod.Get))
                    {
                        <input type="submit" value="自分が食べた唐揚げの数を登録" class="btn btn-success btn-lg" />
                    }
</div>
            <br>
        </div>
        <div class="col-lg-2">
            <div class=" text-center">
                <p>昨日のからあげ総数</p>
                <span class="h2">@ViewBag.YesterdayCount 個</span>
            </div>
        </div>
        <div class="col-lg-2" style="background-color:mintcream">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- からあげカウンターテスト -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4168826548875549"
                 data-ad-slot="7509270315"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>


            @*    <br><br><br><br><br><br><br><br><br><br>*@
            @*    <br><br><br><br><br><br><br><br><br><br>*@
            @*    ↓唐揚げ食べたくなったら！*@
            @*    <a href="http://px.a8.net/svt/ejp?a8mat=2HDIPR+64AELU+31OM+639IP" target="_blank">*@
            @*        <img border="0" width="100" height="60" alt="" src="http://www27.a8.net/svt/bgt?aid=150116607370&wid=001&eno=01&mid=s00000014215001023000&mc=1">*@
            @*    </a>*@
            @*    <img border="0" width="1" height="1" src="http://www17.a8.net/0.gif?a8mat=2HDIPR+64AELU+31OM+639IP" alt="">*@
        </div>


    </div>
