@model IEnumerable<KaraageCounter.Models.Ranking>

@{
    ViewBag.Title = "ランキング";
}
<h2>ランキング</h2>

<table class="table table-striped">
    <tr>
        <th>
            ユーザー名
        </th>
        <th>
            今まで食べた唐揚げの数
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(x => x.KaraageCount))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KaraageCount)
            </td>
        </tr>
    }
</table>
<p>※ランキングは @Html.ActionLink("ユーザー登録", "Register", "Account")している人だけ</p>


