@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-sm-7">
        <p>
            <img src="~/Content/Deep_frying_chicken_upper_wing.jpg" width="400" /><br>
            唐揚げは好きですか？
        </p>

        <p>
            定食屋と言えば唐揚げ。飲み屋でおつまみと言えば唐揚げ。お弁当の人気メニューといえば唐揚げ。
            老若男女、古今東西、神羅万象、みんなみんな唐揚げ大好きですよね。一体全体人類はどれだけ唐揚げを食べているのだろう。
            そんな疑問を持ったことはありませんか？僕はあります！<br>
        </p>
        <p>

            とある名セリフにこんなのがあります。
            <a href="http://d.hatena.ne.jp/keyword/%A4%AA%A4%DE%A4%A8%A4%CF%BA%A3%A4%DE%A4%C7%BF%A9%A4%C3%A4%BF%A5%D1%A5%F3%A4%CE%CB%E7%BF%F4%A4%F2%A4%AA%A4%DC%A4%A8%A4%C6%A4%A4%A4%EB%A4%CE%A4%AB%A1%A9">「おまえは今まで食ったパンの枚数をおぼえているのか？」</a>。

            そう人類はこんなにも唐揚げを食べているのに誰も食べた数を把握していません。
            と言うわけで、なければ作ればよいというプログラマの発想から<a href="https://karaage.click">からあげカウンター</a>を作りました。
            これで後はみんなの力を僕に分けてくれれば唐揚げの数を数えることが出来るわけです！
        </p>
        <p>
            みんなが食べた唐揚げの数を知りたい人は<a href="https://karaage.click">からあげカウンター</a>。
            自分が食べた唐揚げの数を数えたい人は、<a href="https://karaage.click/Karaages/Create">からあげ食べたボタン</a>のクリックもお待ちしています！！<br>
        </p>
        <p>
            森理 麟(moriri-ring)
        </p>






    </div>
</div>








