@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>唐揚げは好きですか？</p>
<p>定食屋と言えば唐揚げ。飲み屋でおつまみと言えば唐揚げ。お弁当の人気メニューといえば唐揚げ。</p>
<p>老若男女、古今東西、神羅万象、みんなみんな唐揚げ大好きですよね。</p>
<p>一体全体みんなどれだけ唐揚げを食べているのだろう。</p>
<p>Dioの名セリフにこんなのがあります。「おまえは今まで食ったパンの枚数をおぼえているのか？」</p>
<p>そう唐揚げを食べた数なんてだれも覚えていません。こんなに！こんなに！食べているのにぃい！！</p>
<p>と言うわけで唐揚げカウンターを作りました。このカウンターが今までにボタンを押した人のカウントを全て記憶します。</p>
<p>あなたが唐揚げを食べた数を是非このカウンターに登録してください。</p>


 
    




    


