@model IEnumerable<KaraageCounter.Models.TurningPointNumber>

@{
    ViewBag.Title = "キリ番";
}

<h2>キリ番</h2>

<table class="table table-striped">
    <tr>
        <th>
            ユーザー名
        </th>
        <th>
            キリ番
        </th>
        <th>
            日付
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetTime)
            </td>
        </tr>
    }

</table>
